[user]
	name = Mark
	email = mark@sentigrate.com

[alias]
	co = checkout
	st = status

[core]
	editor = vim
	
[init]
	defaultBranch = main

[push]
	default = simple
	autoSetupRemote = true

[tag]
	sort = -version:refname
